{% extends '@base.twig' %}

{% block body %}

    <div class="header-wrapper">
        <header class="global-header">
            <h1 class="main-heading">
                <a aria-current="page" class="" href="{{ _blog.url }}">
                    {{ _blog.name }}
                </a>
            </h1>
        </header>
    </div>

    <main>
        <div class="bio">
            <p>Written by 
                <!-- -->
                <strong>{{ _blog.name }}</strong> 
                <!-- -->
                {{ _blog.description }}
                <!-- --> <!-- -->
                <a href="https://twitter.com/kylemathews">You should follow them on Twitter</a>
            </p>
        </div>

        <ol style="list-style:none">
            {% for post in _posts %}
                {% include '_card.twig'  %}
            {% endfor %}
        </ol>
        
    </main>

{% endblock %}